{{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}

{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if ne .Title "Home" }}
<ul>
  {{ range $paginator.Pages }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<div>
  <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center;">
    {{ if $paginator.HasNext }}
    <li style="display: inline; margin-right: 1em;"><a href="{{ $paginator.Next.RelPermalink }}">
        << Older Posts</a>
    </li>
    {{ else }}
    <li style="display: inline; margin-right: 1em;">
      << Older Posts</a>
    </li>
    {{ end }}
    {{ if gt $paginator.TotalPages 1 }}
    {{ range $paginator.Pagers }}
    <li style="display: inline;"><a href="{{ .RelPermalink }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ end }}
    {{ if $paginator.HasPrev }}
    <li style="display: inline; margin-left: 1em;"><a href="{{ $paginator.Prev.RelPermalink }}">Newer Posts >></a></li>
    {{ else }}
    <li style="display: inline; margin-left: 1em">Newer Posts >></a></li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ partial "footer.html" . }}
