<ul class=menu>
  {{ with .Site.Params.Social.mastodon }}
  <li style="display: inline;">
    <a rel="me" href="{{ . }}" target="_blank">Mastodon</a>
  </li>
  {{ end }}
  {{ with .Site.Params.Social.twitter }}
  <li>
    <a href="https://twitter.com/{{ . }}" target="_blank">Twitter</a>
  </li>
  {{ end }}
  {{ with .Site.Params.Social.github }}
  <li>
    <a href="https://github.com/{{ . }}" target="_blank">Github</a>
  </li>
  {{ end }}
  {{ with .Site.Params.Social.gitlab }}
  <li>
    <a href="https://gitlab.com/{{ . }}" target="_blank">Gitlab</a>
  </li>
  {{ end }}
  {{ with .Site.Params.Social.linkedin }}
  <li>
    <a href="https://linkedin.com/in/{{ . }}" target="_blank">Linkedin</a>
  </li>
  {{ end }}
  {{ with .Site.Params.Social.keybase }}
  <li>
    <a href="https://keybase.io/{{ . }}" target="_blank">Keybase</a>
  </li>
  {{ end }}
</ul>
